@model twitter_copy.Models.AddPosts;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PostMethod</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <a asp-action="Create" class="fixed-button"><i class="fa-solid fa-plus"></i></a>

    <div class="content">
        <div class="container">
            <h1 class="last">Удалить пост</h1>
            <div>
                <div>
                    <form asp-controller="Home" asp-action="postDelete" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-light" value="Да" style="width: 120px" />
                            <a asp-action="Index" asp-controller="home" class="btn btn-light" style="width: 120px">Нет</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
